html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;  
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Orelega One', cursive; 
    
}
:root {
    --white:#f8f5f5;
    --light:#37a8a8 ; 
    --light-drk:#1b666c;
    --dark:#1b5c64;
    --super-drk:#154d5c;
}



.container-img {
    background-image: url(bk-grnd.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.content {
    background-color: var(--white);
    height: 80%;
    width: 90%;
    padding-bottom: 8rem;
}

.img-logo {
    width: 15rem;
    height: 15rem;
    padding-left: .9em;
}

.flw-bkg  {
    position: fixed;
    right:9%;
    bottom: 12%;
    opacity: .3;
}

ul li img {
    width: 35px;
}



nav {
    
    display:flex;
    font-size: 3em;
    justify-content: space-between;
    padding: 1.5em;
    
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 2em;
    color: var(--super-drk);
}

nav ul li a {
    color: var(--super-drk);
    text-decoration: none;
}

.span1 {
    color: var(--white);
    background-color: var(--light);
    margin: 0;
    padding: .6em 1.5em;
}

.icon-list {
    margin-left: 3em;
    padding-left: 0.2em;
    padding-right: 1.5em;
}

h3 {
    font-size: 5em;
    line-height: 1.8em;
    padding: .2em 2em;
    color: var(--light);


}

.span2 {
    font-size: 4em;
    color:var(--light-drk);
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    color: #0d3235;
    margin-bottom: 8em;
    margin-top:0;
    margin-left: 2.8em;
    

}

.cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 4.5em;
    margin-top: 10rem;
    margin-left: 2.5em;
    color: var(--white);
    background-color: var(--light);
    border-radius: .6em;
    padding: .8em 2.8em;


}