html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;  
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Orelega One', cursive; 
    
}
:root {
    --white:#f8f5f5;
    --light:#37a8a8 ; 
    --light-drk:#1b666c;
    --dark:#1b5c64;
    --super-drk:#154d5c;
}

