* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Orelega One', cursive; 
   
}
:root {
    --white:#f8f5f5;
    --light:#37a8a8 ; 
    --light-drk:#1b666c;
    --dark:#1b5c64;
    --super-drk:#154d5c;
}



section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}