* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Orelega One', cursive; */
   
}
:root {
    --white:#f8f5f5;
    --light:#b9f8f8 ; 
    --light-drk:#1b666c;
    --dark:#1b5c64;
    --super-drk:#154d5c;
}



section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(bgrn2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    position: relative;
    width: 95px;
}

nav .navigation a {
    text-decoration: none;
    color: #fff;
    background: var(--light-drk);
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 15px;
    border-radius: 20px;
}

nav .navigation a:not(:last-child) {
    margin-right: 30px;
}

nav .navigation a:hover{

    background: var(--light);
    color: var(--super-drk);
    
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h3 {
    color: #1b5c64;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}


.content .info h3 span{
    color: var(--light);
    font-size: 55px;

}

.content .info p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
}

.content .info .cta {
    color: var(--light);
    text-decoration: none;
    background-color: #1b5c64;
    padding: 10px 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 10px;
    transition: 0.4s;
    transition-property: background;
}

.content .info .cta:hover {
    
    background:var(--light-drk) ;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.icon-list a{
   position: relative;
   margin-right: 20px;
   
}